@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer components {
	.page {
		@apply flex px-8 py-10 lg:px-16 lg:py-12 lg:min-h-screen h-fit;
	}

	.dot {
		@apply w-1 h-1 rounded-full bg-orange-dark;
	}

	.menu {
		@apply fixed top-0 left-0 right-0 z-50 h-screen p-6 transition duration-500 dark:bg-blue-darker bg-gray-light md:w-[60%];
	}

	.menu-link {
		@apply flex items-center justify-center w-full px-6 py-4 space-x-2 transition duration-500 rounded-md text-blue-dark dark:text-gray-light ring-2;
	}

	.container {
		@apply flex flex-col items-center w-full gap-2 my-4 lg:flex-row;
	}

	.sub-container {
		@apply relative flex flex-col w-full my-3 lg:w-1/2;
	}

	.label {
		@apply mb-1 ml-3 text-lg font-catamaran text-blue-dark dark:text-gray-light;
	}

	.field {
		@apply px-4 py-3 mx-2 border-none rounded-md outline-none font-outfit bg-gray-light dark:bg-blue-darker;
	}

	.button {
		@apply px-8 py-2 mt-2 transition duration-500 rounded-md bg-orange-dark w-fit hover:bg-transparent ring-2 ring-transparent hover:ring-orange-dark text-gray-light hover:text-blue-dark dark:text-gray-light;
	}
}

html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 0.4rem;
	height: 3rem;
}

::-webkit-scrollbar-thumb {
	background: #011627;
	border-radius: 20rem;
}

::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0);
}
